body{
    margin: 0;
    box-sizing: border-box;
    background-color: #000c;
    font-family: sans-serif;
}

#formulario{
    width: 100vw;
}

form{
    width: 70vw;
    background-color: lightgray;
    padding: 20px;
    margin: auto;
    margin-top: 20%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px lightgray;
}

input{
    width: 90%;
    box-sizing: border-box;
    margin: 8px 0px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;

}

fieldset{
    border: 1px solid gray;
    color: gray;
    text-align: center;
}

legend{
    font-weight: 300;
    opacity: .8;
}

label{
    font-size: 12px;
    text-shadow: 0px 0px 4px gray;
    color: black;
}




