body{
    font-family: sans-serif;
}

h1{
    color: blue;
    letter-spacing: 1px;
    font-family: Personal;
    font-weight: 400;
}

.texto-rojo{
    color: red;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.2;
    text-transform: capitalize;
    text-decoration: underline;
}

input{
    letter-spacing: 2px;
    font-size: 20px;
    font-family: Personal;
}

a{
    text-decoration: none;
}